:root {
    --c-main: #351c75;
    --c-secondary: #e69138;
    --c-dark: #333;
    --c-background: #fce5cd;
    --c-background-dark: #f7d7b5;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    box-sizing: border-box;
    outline: 0;
    -webkit-font-smoothing:antialiased;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}

h1 {
    font-size: 70px;
    font-weight: 800;
    letter-spacing: .3px;
    color: var(--c-main);
}

h3 {
    font-size: 24px;
    font-weight: 800;
    color: var(--c-secondary);
}

h2 {

    font-size: 24px;
    font-weight: 800;

}

.intro {
    height: calc(100vh - 50px);
    background-color: var(--c-background);
    display: grid;
    grid-template-rows: 1fr auto;
    /*kendi içinde otomatik olarak grid oluşturuyor*/
    grid-template-columns: [intro-left] 1fr [intro-sidebar] 230px;
    /*sidebar alanını 250px yaptı, gri kalan left kısmını intro left kapladı ve footer kısmı olduğu gibi kaldı*/
    grid-template-areas: 'intro-left intro-sidebar'
        'intro-footer intro-sidebar';
    /*iki satırlı ve iki sutünlu bir grid sistemi olmuş oldu ve grid sistemşnde ilkinde left sağda side bar ikinci satırın ilk satırında footer ve diğer tarfta ise sidebar devam edecek şekilde ayarlamış oldum.*/

}

.intro .intro-left {
    grid-area: intro-left;
    /*yukarıda grid sisteminde nasıl kullandıysak sınıflarına isimlerini o şekilde veriyoruz.*/
    align-self: center;
    /* kendi içinde dikey olarak ortalar*/
    justify-self: center;
    /*kendi içinde yatay olarak ortalar*/
    text-align: center;
    /*yazıları ortalar*/

}

.intro .intro-left h1 {
    padding-bottom: 10px;
}

.intro .intro-sidebar {
    grid-area: intro-sidebar;
    background: var(--c-background-dark);
    padding: 25px;
    overflow: auto;
}

.intro .intro-sidebar h3 {
    font-size: 1rem;
    color: var(--c-dark);
    margin-bottom: 10px;
}

.intro .intro-sidebar section {
    margin-bottom: 20px;
}

.intro .intro-sidebar ul li a {
    font-size: 1rem;
    color: var(--c-dark);
    letter-spacing: .8px;
    line-height: 1.5;
    padding: 10px 0;
    font-weight: 500;
}

.intro .intro-footer {
    grid-area: intro-footer;
    text-align: center;
    padding-bottom: 50px;
    font-size: 13px;
    letter-spacing: .5px;
    color: #333;
}

.intro .intro-footer a {
    text-decoration: underline;
    /*altı çizili olmasını istersek bu şekilde yazıyoruz*/
    color: var(--c-main);
}

/*Main*/

main .container {
    display: grid;
    grid-template-columns: 1fr 1100px 4fr;
    /*burada üç kolon oluşturmuş olduk genişlikleri sırası ile yazmaktadır.*/
}

main header {
    background: var(--c-main);
}

main header .container {
    height: 50px;
}

main header h2 {
    grid-column: 2/3;
    /*burada üç column olan koloonların içinde ikinci kısımda dursun demek oluyor burada.*/
    align-self: center;
}

main header .container h2 a {
    color: var(--c-secondary);

}

main .content {
    grid-column: 2 / 3;
    padding: 30px 30px 30px 0;
    font-size: 20px;
    font-weight: 400;

}

main .content h2 {
    font-size: 36px;
    color: var(--c-main);
    letter-spacing: .4px;
    margin-bottom: 30px;

}
main .content h3{
    font-size: 24px;
    color: var(--c-secondary);
    letter-spacing: .4px;
    margin-bottom: 20px;
}
main .content p {
    margin-bottom: 25px;

}

main .content pre {
    background: var(--c-dark);
    margin-bottom: 25px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    font-family: Monaco, Consolas;
    font-size: 16px;
}

main .sidebar {
    grid-column: 3 / 3;
    background: var(--c-background-dark);
    padding: 25px;
    font-size: 16px;

}

main .sidebar nav ul li {
    margin-bottom: 3px;
}

main .sidebar nav ul li a {
    display: block;
    padding: 4px 0;
    font-size: 18px;

}

main .sidebar .version {
    font-size: 18px;
    padding-bottom: 20px;
}